@{
    ViewData["Title"] = "contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
    <label for="name"></label>
    firstname: <input type= "text" name="firstname" /></div>

   <div>
   <label for="name"></label>
    lastname: <input type="text" name="lastname" />
    </div>

    <div>
    <label for="Email"></label>
    Email: <input type = "text" name="Email"
    </div>

        <div>
    <label for="phone"></label>
    phone: <input type = "text" name="phone"
    </div>

        <div>
    <label for="adress"></label>
    adress: <input type = "text" name="adress"
    </div>

     <input type="submit" value="opslaan" />
</form>

<p>Hallo @ViewData["firstname"]  @ViewData["lastname"] welkom!</p>
