@{
    ViewData["Title"] = "contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
    <label for="name"></label>
    voornaam: <input type= "text" name="firstname" /></div>

   <div>
   <label for="name"></label>
    achternaam: <input type="text" name="lastname" />
    </div>

    <div>
    <label for="Email"></label>
    Email: <input type = "tekst" name="Email"
    </div>

     <input type="submit" value="opslaan" />
</form>

<p>Hallo @ViewData["firstname"] die achternaame @ViewData["lastname"] heeft</p>
