@{
    ViewData["Title"] = "Home Page";
}

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

<div class="event">
    <img src="" />
    <h3>lowlands</h3>
    <p>per persoon: 135</p>
    <p>kies datum: 135</p>
    <select>
        <option>maandag</option>
        <option>dinsdagochtend</option>
        <option>dinsdag</option>
    </select>
</div>

