@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Feestgangers de site</h1>

    <img class="logo" src="https://th.bing.com/th/id/OIP.n3FNVeo_gI4Ce0GOlevWZgHaHa?pid=ImgDet&rs=1" alt="logo" />
</header>

<h1>Welkom!</h1>
