<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <h1>Feestgangers de site</h1>
        
        <img class="logo" src="https://th.bing.com/th/id/OIP.n3FNVeo_gI4Ce0GOlevWZgHaHa?pid=ImgDet&rs=1" alt="logo" />
    </header>

    <div class="content">
        <nav>navigatie
        <form action="http://localhost:61209/contact">
            <input type="submit">Contact</input>
        </form>
        </nav>
        <article>
            @RenderBody()
        </article>
    </div>


    <footer>
        footer
    </footer>



</body>

</html>
