  <!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <h1>Feestgangers de site</h1>
        
        <img class="logo" src="https://th.bing.com/th/id/OIP.n3FNVeo_gI4Ce0GOlevWZgHaHa?pid=ImgDet&rs=1" alt="logo" />
    </header>

    <div class="content">
        <section>
            <nav>
                <h2>navigatie</h2>

                <a class="button button1" href="/contact">Contact</a>        
            </nav>
            <article>
                @RenderBody()
            </article>
        </section>
    </div>


    <footer>
        footer
    </footer>



</body>

</html>
