body{
    margin:0;
}

header{
    background-color: red;
    height:50px;
}

nav{
    background-color: blue;
    height:50px;
}

article{
    background-color: purple;
    height:50px;
}

footer{
    background-color: orange;
    height:50px;
}

.content{
    display:flex;
}