body{
    margin:0;
}

header{
    background-color: red;
    height:20vw;
    width: 80vw;  
}

nav{
    width:20vw;
    background-color: black;
    color:white;
    
    }

article{
    height:= 70vw;
    background-color: purple;
    width:80vw;
}

footer{
    background-color: orange;
    position:fixed;
    bottom:0px;
    width:80vw;
    height: 10vw;
}

.content{
    display:flex;
}