body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
}

.logo{
    height:100px;
    width: 100px;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;

}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.content{
    display:flex;
}


element.style {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  
}

.event {
    position: relative;
    width: 15vw;
    height: 9vw;
    background-color: darkslategrey;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}